<div class="assignment-edit main">

  <!-- <div class="header">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Untitled
        </mat-panel-title>
      </mat-expansion-panel-header>      
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-expansion-panel>
    </div> -->

      <!-- Repeatign question block -->
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>
      <div class="question-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="qn-no">01</span>
              {{ question }}
            </mat-panel-title>
            <span class="move-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
          </mat-expansion-panel-header>


          <div class="question-field">
            <mat-form-field appearance="fill">
              <mat-label>Question</mat-label>
              <input matInput placeholder="Enter question">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>

          <div class="responses">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="help-text-field">
            <mat-form-field>
              <mat-label>Help text</mat-label>
              <textarea matInput
              ></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>


      </div>

  <div class="floating-actions">
    <button mat-icon-button>
      <mat-icon>insert_photo</mat-icon>
    </button>
    <span class="sep"></span>
    <button mat-icon-button>
      <mat-icon>content_copy</mat-icon>
    </button>
    <span class="sep"></span>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <span class="sep"></span>
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>
