.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sider {
  padding: 5px;
}

.menu-item {
  margin: 5px auto;
}

.fixed {
  position: fixed;
  width: 100%;
  top:0;
  z-index: 3;
}

.example-spacer {
  flex: 1 1 auto;
}

