<div class="main login">
  <img src=".././../assets/login.jpg" alt="">
  <h3>Login to Continue</h3>
  <div class="question-field">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter username">
      <!-- <mat-hint>Enter username</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Enter password">
      <!-- <mat-hint>Enter username</mat-hint> -->
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="submitLogin()">Log In</button>
  </div>
</div>
