<div class="main main-search">
  <div class="header">
    <h2 class="mat-h2">Filter Assignments</h2>

    <mat-form-field class="full-width">
      <mat-label>Filter</mat-label>
      <input matInput  placeholder="Ex. Grade, Subject" >
    </mat-form-field>

    <!-- <div class="assignment-search">
      <mat-form-field class="name-filter" appearance="fill">
        <input matInput placeholder="Filter by name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select multiple>
          <mat-option>Grade 9</mat-option>
          <mat-option>Grade 10</mat-option>
          <mat-option>Grade 11</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select multiple>
          <mat-option>Science</mat-option>
          <mat-option>Mathematics</mat-option>
          <mat-option>English</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" >Search</button>
    </div> -->
  </div>

  <div class="search-results">


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <mat-text-column name="position" [headerText]="headerText"></mat-text-column>

      <!-- Change the header text. -->
      <mat-text-column name="name" headerText="Element"></mat-text-column>

      <!-- Provide a data accessor for getting the cell text values. -->
      <mat-text-column name="weight" [dataAccessor]="getWeight"></mat-text-column>

      <!-- Justify the content of the cells to the cell end. -->
      <mat-text-column name="symbol" justify="end"></mat-text-column>

      <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>   
  </div>
  <mat-paginator [length]="10" [pageSize]="30"></mat-paginator>
  <button mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>

